<section class="logo-container">
    <img src="{{{org.avatar}}}" alt="{{{org.name}}}" height="30" />
</section>
<section class="text-container">
    <h2>
        {{{ eula.subtitle }}}
    </h2>
    <p>
        {{{ eula.version }}}
    </p>
</section>
<section class="input-container markdown">
    <div class="content" id="eula">
        {{{ eula.content }}}
    </div>
</section>
<section class="buttons-container">
    <button class="primary disabled agree-btn" id="agree-btn">
        {{{__ "eula.accept"}}}
    </button>
</section>
