<section class="logo-container">
    <img src="/assets/visuals/Logo.png" alt="{{{org.name}}}" height="250px" width="250px" />
</section>
<div class="login-section">
<section class="input-container" id="login-partial">
    <section class="text-container">
        <p>
            {{{__ "login.welcome_message"}}}
        </p>
    </section>

    <label> {{{__ "login.login_form.email_label"}}}</label>
    <i class="fa fa-envelope"></i>
    <input type="email" class="email-input" placeholder="{{{__ "login.login_form.email_placeholder"}}}" id="email" autocomplete="off" autofocus/>

</section>
<section class="link-container" style="margin-bottom: 15px;">
    <a href="javascript: void(0)" id="shared-session-login-link">{{{__ "login.login_form.shared_session_login_label"}}}</a>
</section>
<section style="display:none;" id="provider-switcher-container" class="provider-switcher-container clearfix"></section>
<section class="buttons-container">
    <button class="primary disabled" id="login-btn">
        {{{__ "login.login_form.next_btn"}}}
    </button>
    <button class="primary" id="back-btn-loginScreen" style="display: none;">
        {{{__ "login.login_form.back_btn"}}}
    </button>
    <div class="register-container">
       <p>Don't have an account yet? </p>
       <a href="/cybercommand/assessment">Register for Free</a>
    </div>
    <p class="err-container"></p>
</section>

</div>