<section class="logo-container">
    <img src="{{{org.avatar}}}" alt="{{{org.name}}}" height="30" />
</section>
<section class="text-container">
    <h2>
        {{{__ "request_access.subtitle"}}}
    </h2>
    <p>
        {{{__ "request_access.content"}}}
    </p>
</section>
<section class="buttons-container">
    <button class="primary" id="request-access-btn">
        {{{__ "request_access.primary_cta"}}}
    </button>
    <button class="secondary" id="back-btn">
        {{{__ "request_access.secondary_cta"}}}
    </button>
</section>
