<section class="logo-container">
    <img src="{{{org.avatar}}}" alt="{{{org.name}}}" height="30" />
</section>
<section class="text-container">
    <h2>
        {{{__ "session_expired.subtitle"}}}
    </h2>
    <p>
        {{{__ "session_expired.content"}}}
    </p>
</section>
<section class="buttons-container">
    <button class="primary" id="session-expired-btn">
        {{{__ "session_expired.primary_cta"}}}
    </button>
</section>
